<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manager.mapper.SceneDeviceViewMapper">
    <select id="getSceneDeviceView" resultType="com.example.manager.DTO.SceneDeviceView">
        SELECT
        d.id AS deviceId,
        d.name AS deviceName,
        o.id AS operationId,
        o.name AS operationName
        FROM device d
        JOIN device_operation do ON d.type_id = do.device_type_id
        JOIN operation o ON do.operation_id = o.id
        JOIN device_in_scene ds ON d.id = ds.device_id
        WHERE
        scene_id = #{sceneId}
    </select>
</mapper>