<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manager.mapper.HomeMapper">

    <insert id="createHome">
        INSERT INTO Home (name, address) VALUES (#{name}, #{address})
    </insert>

    <select id="getLastInsertId" resultType="java.lang.Long">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="selectHomeIdByName" resultType="java.lang.Long">
        SELECT id FROM Home WHERE name = #{name} AND is_deleted = 0
    </select>

    <select id="selectByHomeId" resultType="com.example.manager.entity.Home">
        SELECT * FROM Home WHERE id = #{id} AND is_deleted = 0
    </select>

    <delete id="deleteHomeById">
        DELETE FROM Home WHERE id = #{id}
    </delete>

    <select id="selectByHomeIds" resultType="com.example.manager.entity.Home">
        SELECT * FROM Home
        <if test="homeIds != null and !homeIds.isEmpty()">
            WHERE id IN
            <foreach item="item" collection="homeIds" separator="," open="(" close=")">
                #{item}
            </foreach>
            AND is_deleted = 0
        </if>
    </select>

    <select id="selectHomeNameById" resultType="java.lang.String">
        SELECT name FROM Home WHERE id = #{id} AND is_deleted = 0
    </select>

    <update id="updateHome">
        UPDATE Home SET name = #{name}, address = #{address} WHERE id = #{homeId} AND is_deleted = 0
    </update>

    <select id="selectAddressById" resultType="java.lang.String">
        SELECT address FROM Home WHERE id = #{id} AND is_deleted = 0
    </select>

    <update id="updateHomeName">
        UPDATE Home SET name = #{name} WHERE id = #{homeId} AND is_deleted = 0
    </update>

    <update id="updateHomeAddress">
        UPDATE Home SET address = #{address} WHERE id = #{homeId} AND is_deleted = 0
    </update>

    <select id="searchHomeByPartName" resultType="com.example.manager.entity.Home">
        SELECT * FROM Home WHERE name LIKE CONCAT('%', #{name}, '%') AND is_deleted = 0
    </select>
</mapper>