<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manager.mapper.UserHomeMapper">
    <select id="selectRoleByUserIdAndHomeId" resultType="java.lang.Integer">
        select role from User_Home where user_id = #{userId} and home_id = #{homeId} AND is_deleted = 0
    </select>

    <insert id="createUserHome">
        insert into User_Home(user_id, home_id, role) values(#{userId}, #{homeId}, #{role})
    </insert>

    <select id="checkUserIdAndHomeId" resultType="com.example.manager.entity.UserHome">
        SELECT * FROM user_home WHERE user_id = #{userId}
        <if test="homeId != null and !homeId.isEmpty()">
            AND home_id IN
            <foreach item="item" collection="homeId" separator="," open="(" close=")">
                #{item}
            </foreach>
            AND is_deleted = 0
        </if>
    </select>

    <delete id="deleteUserHomeByHomeId">
        DELETE FROM User_Home WHERE home_id = #{homeId}
    </delete>

    <select id="selectUserIdByHomeId" resultType="java.lang.Long">
        SELECT user_id FROM User_Home WHERE home_id = #{homeId} AND is_deleted = 0
    </select>

    <select id="selectHomeIdByUserId" resultType="java.lang.Long">
        SELECT home_id FROM User_Home WHERE user_id = #{userId} AND is_deleted = 0
    </select>

    <select id="selectUserHomeByUserId" resultType="com.example.manager.entity.UserHome">
        SELECT * FROM User_Home WHERE user_id = #{userId} AND is_deleted = 0
    </select>

    <select id="countByUserIdAndHomeId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM User_Home WHERE user_id = #{userId} AND home_id = #{homeId} AND is_deleted = 0
    </select>

    <insert id="insertUserHome">
        INSERT INTO User_Home (user_id, home_id, role) VALUES (#{userId}, #{homeId}, #{role})
    </insert>
</mapper>