<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manager.mapper.UserRoleMapper">
    <select id="getUserRole" resultType="com.example.manager.DTO.ViewHomeUser">
        SELECT u.id AS id, u.username AS username, u.phone AS phone, uh.role AS Role
        FROM User_Home uh
        JOIN User u ON uh.user_id = u.id
        WHERE uh.home_id = #{HomeId}
        AND uh.is_deleted = 0
        AND u.is_deleted = 0
    </select>

    <select id="getHostName" resultType="java.lang.String">
        SELECT u.username AS name
        FROM User_Home uh
        JOIN User u ON uh.user_id = u.id
        WHERE uh.home_id = #{homeId} AND uh.role = 0
        AND uh.is_deleted = 0
        AND u.is_deleted = 0
    </select>
</mapper>